@charset "utf-8";
/* CSS Document */

#full-page{
	width:800px;
	height:950px;
	margin:auto;
	background-color:#AB9D9D;
}

#header{
	/*width:800px;/**/
	/*width:100%;/**/
	height:300px;
	background-color:red;
}

#header-top{
	height:100px;
	background-color:yellow;
}

#logo{
	/*height:100px;/**/
	height:100%;
	width:200px;
	float:left;
	background-color:orange;
}

#header-top-right{
	/*height:100px;/**/
	height:100%;
	width:600px;
	float:left;
	background-color:lightblue;
}


#header-bottom{
	height:200px;
	background-color:pink;
}


#main-section{
	/*width:800px;/**/
	/*width:100%;/**/
	height:500px;
	background-color:green;
}

#footer{
	/*width:800px;/**/
	/*width:100%;/**/
	height:150px;
	background-color:blue;
}



